@import 'color';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//**** Nav-bar ****

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-link {
      padding-right: 0;
      padding-left: 0;
    }

  }
}

.navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;

  .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}


.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nav-item {
  margin: 10px;

  .nav-link {
    text-decoration: none;
    color: black;
  }

  .nav-link.active {
    border-bottom: 3px solid $dark-blue;
    padding: 0 0 17px 0;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  .form-control {
    width: auto;
    padding-right: 55px;

    &::placeholder {
      color: $light-gray;
      padding-left: 15px;
    }

  }
}

.btn {
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0.25rem;

}

.btn-success {
  color: #fff;
  background-color: $dark-green;
  border-color: $dark-green;
}

.search-icon {
  position: absolute;
  font-weight: 100;
  padding-left: 10px;
  color: $light-gray;
}

//**** End-Navbar ****

//**** Table ****


table {
  width: 100%;

  td, th {
    border-top: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 13px;
    color: $light-gray;
    padding-left: 20px;
    font-weight: bolder;
  }

  .angle-down-icon {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
  }

  .orange-circle {

    background-color: $light-orange;
  }

  .green-circle {

    background-color: $light-green;
  }

  .red-circle {

    background-color: $light-red;
  }

  .status {
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    width: fit-content;
    padding: 4px;
  }

  .green-status {
    background-color: $dark-green;

  }

  .gray-status {
    background-color: $dark-gray;

  }

  .actionButton {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-transform: capitalize;
  }

  .edit-icon {
    color: $dark-blue;
  }

  .trash-icon {
    color: $light-red;
  }
}

// **** End-Table ****


// **** Modal ****

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .modal-body {

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .col-6, .col-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }

      .form {
        margin-top: 20px;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .custom-select[multiple], .custom-select[size]:not([size="1"]) {
          height: auto;
          padding-right: 0.75rem;
          background-image: none;
        }

        .form-label {
          margin-bottom: 5px;
          color: $light-gray;
          font-size: 12px;
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 56px;
          height: 28px;

          input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
              background-color: $dark-blue;

              &::before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
            }

            &:focus + .slider {
              box-shadow: 0 0 1px $dark-blue;

            }
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;

            &:before {
              position: absolute;
              content: "";
              height: 20px;
              width: 20px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }
          }
        }

        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }

      .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }

      .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}

// **** End-Modal ****


.mr-auto {
  margin-right: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;

}

.w-100 {
  width: 100%;
}